{
  "presets": [
    ["@babel/preset-env", {"modules": false, "loose": true}],
    "@babel/react"
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    },
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "presets": [
        ["@babel/preset-env", {"modules": "cjs", "loose": true, "targets": { "node": "current" }}],
      ]
    },
    "node": {
      "presets": [
        ["@babel/preset-env", {"modules": false, "loose": true, "targets": { "node": "current" }}],
      ],
      "plugins": ["babel-plugin-dynamic-import-node"],
    },
  }
}
