{
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
    },
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": ["airbnb"],
  "rules": {
    "no-console": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.spec.jsx", "**/*.spec.js", "**/__mocks__/*.js", "**/__mocks__/*.jsx"]}],
  },
  "plugins": [
    "flowtype",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
      }
    }
  }
}
